* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
  background-color: #B0E4DE
}

h1 {
  font-family: 'Lexend Deca', sans-serif;
  color: #FFFFFF;
  padding: 5%;
  text-align: center;
}

h2 {
  font-family: 'Lexend Deca', sans-serif;
  color: #FFFFFF;
  padding: 1%;
  text-align: center;
}

p {
  font-family: 'Quicksand', sans-serif;
  color: #FFFFFF;
  padding: 1%;
  text-align: center;
}
