* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
  background-color: #B0E4DE;
}

h1 {
  font-family: 'Lexend Deca', sans-serif;
  color: #FFFFFF;
  padding: 5%;
  text-align: center;
}

h2 {
  font-family: 'Lexend Deca', sans-serif;
  color: #FFFFFF;
  padding: 1%;
  text-align: center;
}

p {
  font-family: 'Quicksand', sans-serif;
  color: #FFFFFF;
  padding: 1%;
  text-align: center;
}

li {
  width: 40%;
  display: inline-block;
  text-align: center;
  margin: 1%;
  border: 1px solid white;
}

ul li p {
  padding: 15%;
  margin: 0;
  transition: background-color 1000ms;
}

#pink {
	background-color: #E4B0D0;
}

#green {
	background-color: #6EF181;
}

#yellow {
	background-color: #F2E76C;
}

#orange {
	background-color: #EAAB5B;
}

.new-color {
  background-color: #FFFFFF;
  transition: background-color 1000ms;
}

#second-fortune {
	display: none;
}

.hide {
	display: none;
}

.fortune p {
	font-family: 'Quicksand', sans-serif;
  font-size: 3em;
  color: #FFFFFF;
}
